* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

#d:hover {
  background-color: rgb(247, 247, 247);
}

#header_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

#header_brand {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#header_logo {
  width: 100px;
}

#header_pf_pic {
  width: 30px;
}

#side_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80;
  border-right: 1px solid rgb(226, 226, 226);
  height: 100%;
  width: 250px;
  padding: 30px 20px 30px 0px;
  color: rgb(142, 135, 135);
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

#header_pf_pic_div {
  margin-right: 10px;
}
.side_menu_divs {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 0px;
  padding-left: 20px;
}

.side_menu_spans {
  padding-right: 20px;
}

.side_menu_spans img {
  width: 20px;
}

.side_menu_divs:hover {
  background-color: rgb(238, 238, 238);
}

@media screen and (max-width: 870px) {
  #side_menu {
    display: none;
  }
}

#main {
  position: absolute;
  left: 270px;
  top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 870px) {
  #main {
    position: absolute;
    left: 20px;
    top: 80px;
  }
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(238, 238, 238);
}

.card_div {
  display: flex;
  flex-direction: column;
}

.card_main_text {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}

.card_title {
  display: flex;
  flex-direction: column;
}

.card_name {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(80, 77, 77);
}

.card_subtitle {
  font-size: 12px;
  color: rgb(130, 130, 130);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card_more_info {
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 28px;
  color: rgb(76, 76, 76);
}

.card_building_info {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
  font-size: 16px;
  color: rgb(90, 90, 90);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card_vacant_area_info {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  justify-content: space-between;
  margin-bottom: 100px;
  font-size: 16px;
  color: rgb(137, 137, 137);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
